.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.reflex-container .reflex-splitter {
  background-color: #222222
}

.reflex-container .reflex-splitter.active {
  background-color: #444444
}

.reflex-container .reflex-splitter:hover {
  background-color: #444444
}

.reflex-container.vertical .reflex-splitter {
  border-right: 0px solid transparent;
  border-left: 0px solid transparent
}

.reflex-container.vertical .reflex-splitter.active {
  border-right: 0px solid transparent;
  border-left: 0px solid transparent
}

.reflex-container.vertical .reflex-splitter:hover {
  border-right: 0px solid transparent;
  border-left: 0px solid transparent
}

.reflex-container.horizontal .reflex-splitter {
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent
}

.reflex-container.horizontal .reflex-splitter.active {
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent
}

.reflex-container.horizontal .reflex-splitter:hover {
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent
}
